					<nav id="nav">
						<ul class="links">
							<li id="nav_index"><a href="index.html">About</a></li>
							<li id="nav_map" ><a href="map.html">Map</a></li>
							<li id="nav_registry"><a href="registry.html">Registry</a></li>
							<li id="nav_rsvp"><a href="RSVP.html">RSVP</a></li>
						</ul>
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						</ul>
					</nav>
